

.App-link {
  color: #61dafb;
}

.infoContainer {
  padding-left: 15px;
  padding-bottom: 40px;
}

.borderCellCls {
  border-right: 2px solid rgba(0,0,0,0.6) !important;
  border-left: 2px solid rgba(0,0,0,0.6) !important;
}

h1 {
  text-align: center;
}

